[Desktop Entry]
Version=1.0
Type=Application
Name=RoboTele
GenericName="Robot Teleoperation ROS2 Launcher"
Comment="Launch Robot Teleoperation Nodes"
Keywords=ROS2;
Exec=sh "$(dirname %k)/RoboTele.sh"
Icon=utilities-terminal
Terminal=true
Categories=Launcher;Development;Graphics;
StartupNotify=true
